# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.env
.env/
.venv/
venv/
ENV/
env/
*.cover
.coverage
.coverage.*
.cache
.pytest_cache/
.mypy_cache/
.dmypy.json
.pyre/
pip-log.txt
pip-delete-this-directory.txt

# VS Code
.vscode/

# Uvicorn (uv)
*.pid

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

data/